modules = ["php-8.4", "nodejs-22"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan config:clear && php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
SESSION_DRIVER = "file"
CACHE_STORE = "file"
QUEUE_CONNECTION = "sync"
APP_NAME = "KPM-PPL"
APP_ENV = "local"
APP_DEBUG = "true"
APP_LOCALE = "en"
APP_FALLBACK_LOCALE = "en"
APP_FAKER_LOCALE = "en_US"
APP_MAINTENANCE_DRIVER = "file"
BCRYPT_ROUNDS = "12"
LOG_CHANNEL = "stack"
LOG_STACK = "single"
LOG_DEPRECATIONS_CHANNEL = "null"
LOG_LEVEL = "debug"
DB_CONNECTION = "pgsql"
BROADCAST_CONNECTION = "log"
FILESYSTEM_DISK = "local"
MAIL_MAILER = "log"
MAIL_SCHEME = "null"
MAIL_HOST = "127.0.0.1"
MAIL_PORT = "2525"
MAIL_FROM_ADDRESS = "hello@example.com"
MAIL_FROM_NAME = "KPM-PPL"
DB_HOST = "helium"
DB_PORT = "5432"
DB_DATABASE = "heliumdb"
DB_USERNAME = "postgres"
DB_SSLMODE = "disable"
DB_PASSWORD = "password"
APP_KEY = "base64:4LpMZiOWUnJb3btvldBkMhSgUORWV9A7ahTI7OS3y8w="
